@import 'materialize';

/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}

.choose-sex {
  display: inline;
  padding-right: 30px;
}

.bio-input {
  padding-top: 100px;
  font-size: 1rem;
}

.input-row {
  padding-top:80px;
}

.parallax-container {
      height: 300px;
    }
