<h2>Dogs Index</h2>

<table>
  <thead>
    <tr>
        <th data-field="id">Name</th>
        <th data-field="name">Breed</th>
        <th data-field="price">Bio</th>
    </tr>
  </thead>

  <tbody>
  {{#each dog in model}}
    <tr>
      <td>{{dog.name}}</td>
      <td>{{dog.breed}}</td>
      <td>{{dog.bio}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>