<h2>New Dogs</h2>


<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="name" type="text" class="validate">
        <label for="name">Name</label>
      </div>
      <div class="input-field col s6">
        <input id="age" type="text" class="validate">
        <label for="age">Age</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="breed" type="text" class="validate">
        <label for="breed">Breed</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="bio" type="text" class="validate">
        <label for="bio">Bio</label>
      </div>
    </div>
     <form action="#">
     <ul>
       <li class="sex"><input class="with-gap" name="group1" type="radio" id="male" />
      <label for="male">Male</label></li>
      <li class="sex"><input class="with-gap" name="group1" type="radio" id="female" />
      <label for="female">Female</label></li>
     </ul>
  </form>
  <form action="#">
     <ul>
       <li class="size"><input class="with-gap" name="group2" type="radio" id="small" />
      <label for="small">Small</label></li>
      <li class="size"><input class="with-gap" name="group2" type="radio" id="medium" />
      <label for="medium">Medium</label></li>
      <li class="size"><input class="with-gap" name="group2" type="radio" id="large" />
      <label for="large">Large</label></li>
     </ul>
  </form>
  <form action="#">
    <p>
      <input type="checkbox" id="trained" />
      <label for="trained">Trained</label>
    </p>
    <p>
      <input type="checkbox" id="animal-friendly" />
      <label for="animal-friendly">Animal Friendly</label>
    </p>
    <p>
      <input type="checkbox" id="child-friendly" />
      <label for="child-friendly">Child Friendly</label>
    </p>
    <p>
      <input type="checkbox" id="spayed-or-neutered" />
      <label for="spayed-or-neutered">Spayed or Neutered</label>
    </p>
  </form>
  <form action="#">
    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Image</span>
        <input type="file" />
      </div>
    </div>
  </form>
    

  </form>
</div>
